<%= form_with model: @user, local: true do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autocomplete: "honorific-prefix" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "given-name" %>
  </div>

  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name, autocomplete: "additional-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "family-name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :cell_phone %><br />
    <%= f.text_field :cell_phone, autocomplete: "tel" %>
  </div>

  <div class="field">
    <%= f.label :secondary_phone %><br />
    <%= f.text_field :secondary_phone %>
  </div>

  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street, autocomplete: "street-address" %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autocomplete: "address-level2" %>
  </div>
  
  <div class="field">
    <%= f.label "State / Province" %><br />
    <%= f.text_field :province, autocomplete: "address-level1" %>
  </div>
  
  <div class="field">
    <%= f.label "Zip / Postal Code" %><br />
    <%= f.text_field :postal, autocomplete: "postal-code" %>
  </div>
  
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autocomplete: "country-name" %>
  </div>
  
  <div class="field">
    <%= f.label "Admin" %> <br />
    <%= f.check_box :admin %> <br />
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= datetime_local_field(:user, :deleted_at) %>
  </div>

  <div class="field">
    <%= f.label :disabled %><br />
    <%= f.check_box :disabled %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>